---
---
@import "{{ site.theme }}";

#banner {

    background: #ff3300;
    border: 1px solid #f03300;
}

#banner .fork {
    background-color: #FF6633;
}

#banner .button {
    border: 2px solid #db0000;
}

.button:hover {
    background-color: #ff1111;
}
